{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
 <br><br><b></b><br>
<div class="card mb-3" >
  <div class="row g-0">
    
    <div class="col-md-4">
      <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center>
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-text">{{product.description}}</h6>
        <h6 class="card-text"> <strike>{{product.price}}</strike> </h6>
        <h6 class="card-text"> {{product.sale_price}}</h6>
        <h6>ID: {{product.id}}</h6>

        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        
        <button class="btn btn-secondary " type="button" value="{{product.id}}" id="add_cart">Add to cart</button>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        </center>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>

{% endblock %}


<script>


$(document).on('click', '#add_cart', function(e){

e.preventDefault();
$.ajax({
  type: 'POST',
  url: "{% url 'cart_add' %}",

  data:{
    product_id: $('#add_cart').val(),
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    action: 'post'

  },
  success:function(json){
    console.log(json)
  },
  error: function(xhr, errmsg, err){
     
  }
})



})



</script>
